<!DOCTYPE html>
<html>
    <head>
        <title>Search Menu</title>
        <link href="/style/supply.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Spartan" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/supplyheader.ejs')%>
        <div class="container-fluid">
            <form action="/supply/search" method="POST">
                <input type="text" placeholder="What item are you looking to?" name="search">
                <input type="submit">
            </form>
            <table class="table table-bordered">
            <div class="table">
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Type</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr><br>
            <% for (let i = 0; i < data.length ; i++){ %>
            <tr>
                <td><%= data[i].id %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].product_type %></td>
                <td><%= data[i].quantity %></td>
                <td><%= data[i].price %></td>
            </tr><br>
            <% } %>
            </div>
            </table>
        </div>
    </body>
    <%- include('../partials/footer.ejs')%>
</html>